# Этап 4: балансировка TCP-соединений (L4), алгоритм roundrobin.
# HAProxy не разбирает HTTP, решение принимается один раз при установке соединения.

global
    log /dev/log local0
    maxconn 4096
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend ft_t2_tcp
    bind *:80
    default_backend bk_t2_tcp

backend bk_t2_tcp
    balance roundrobin
    option tcp-check
    server backend1 192.168.100.21:8000 check inter 2s fall 3 rise 2
    server backend2 192.168.100.22:8000 check inter 2s fall 3 rise 2

listen stats
    bind *:8043
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:admin123
